<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit chat</title>
</head>

<body>
    <h1>Edit chat</h1>
    <input type="text" name="from" id="" value="<%= chat.from %>" readonly>
    <br>
    <br>
    <input type="text" name="to" id="" value="<%= chat.to %>" readonly>
    <br><br>
    <form method="post" action="/edit/<%= chat._id %>?_method=PUT">
        <textarea name="msg" id=""><%= chat.msg %></textarea>
        <br><br>
        <button>Edit message</button>
    </form>
</body>

</html>