<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new chat</title>
</head>
<body>
    <h1>Create new Chat</h1>
    <form  method="post" action="/chats">
        <input type="text" name="from" id="" placeholder="From">
        <br><br>
        <textarea name="msg" id="" placeholder="type someting"></textarea>
        <br><br>
        <input type="text" name="to" id="" placeholder="to">
        <br><br>
        <button>submit</button>
    </form>
</body>
</html>