<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/chats">
        <input type="text" name="from" id="" placeholder="who are you">
        <br>
        <br>
        <textarea name="msg" id="" placeholder="type something"></textarea>
        <br>
        <br>
        <input type="text" name="to" id="" placeholder="addreciever">
        <br>
        <br>
        <button>Send</button>
    </form>
</body>
</html>